In [1]:
import streamlit as st
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/cars.csv"
df_cars = pd.read_csv(link)

In [2]:

# mpg = Miles par gallon 
# convertion mpg en l/100km = 282.48 / mpg
def convertion_mpg_l100km(mpg):
        l = 282.4809363/mpg
        return round(l,2)

# cubicinches = pouces cubes
# convertion pouces cubes en cm cubes cm3 = in3*16,387064
def convertion_in3_cm3(in3):
        cm3 = in3*16.387064
        return round(cm3,0) 

# hp Puissance d’un moteur en HorsePower
# 1hp = 1.014ch
def convertion_hp_ch(hp):
        ch = hp*1.014
        return round(ch,0)

# weightlbs = poids du vehicule en livres (us) 1livres = 0.453592 kg
def convertion_lb_kg(lb):
        kg = lb*0.453592
        return round(kg,0)

# time-to-60 = temps pour atteindre 60 miles/h : 1 miles = 1.609344km
def convertion_miles_km(miles):
        km = (miles/60)*1.609344
        return (km*100)

In [3]:

df_cars

      mpg  cylinders  cubicinches   hp  weightlbs  time-to-60  year continent
0    14.0          8          350  165       4209          12  1972       US.
1    31.9          4           89   71       1925          14  1980   Europe.
2    17.0          8          302  140       3449          11  1971       US.
3    15.0          8          400  150       3761          10  1971       US.
4    30.5          4           98   63       2051          17  1978       US.
..    ...        ...          ...  ...        ...         ...   ...       ...
256  17.0          8          305  130       3840          15  1980       US.
257  36.1          4           91   60       1800          16  1979    Japan.
258  22.0          6          232  112       2835          15  1983       US.
259  18.0          6          232  100       3288          16  1972       US.
260  22.0          6          250  105       3353          15  1977       US.

[261 rows x 8 columns]

In [4]:
df_cars_euro = df_cars
df_cars_euro['l_100km'] = df_cars['mpg'].apply(convertion_mpg_l100km)
df_cars_euro['cm3'] = df_cars['cubicinches'].apply(convertion_in3_cm3)
df_cars_euro['ch'] = df_cars['hp'].apply(convertion_hp_ch)
df_cars_euro['kg'] = df_cars['weightlbs'].apply(convertion_lb_kg)
df_cars_euro['time-to-100km_h'] = df_cars['time-to-60'].apply(convertion_miles_km)
df_cars_euro = df_cars_euro[['l_100km','cylinders','cm3','ch','kg','time-to-100km_h','year','continent']]
df_cars_euro

,l_100km,cylinders,cm3,ch,kg,time-to-100km_h,year,continent
0,20.18,8,5735.0,167.0,1909.0,32.18688,1972,US.
1,8.86,4,1458.0,72.0,873.0,37.55136,1980,Europe.
2,16.62,8,4949.0,142.0,1564.0,29.50464,1971,US.
3,18.83,8,6555.0,152.0,1706.0,26.82240,1971,US.
4,9.26,4,1606.0,64.0,930.0,45.59808,1978,US.
...,...,...,...,...,...,...,...,...
256,16.62,8,4998.0,132.0,1742.0,40.23360,1980,US.
257,7.82,4,1491.0,61.0,816.0,42.91584,1979,Japan.
258,12.84,6,3802.0,114.0,1286.0,40.23360,1983,US.
259,15.69,6,3802.0,101.0,1491.0,42.91584,1972,US.
260,12.84,6,4097.0,106.0,1521.0,40.23360,1977,US.

In [5]:
fig, axes = plt.subplots(2, 2 ,figsize = (20,20))
fig.suptitle("", size = 16)

ax = sns.lineplot(data = df_cars,
                x = "year",
                y = "cylinders",
                ax = axes[0,0])
ax.set_title("")
plt.ylabel("cylinders")
plt.xlabel("year")

ax = sns.scatterplot(data = df_cars,
                x='year',
                y='cylinders',
                hue = "hp",
                ax = axes[0,1])
ax.set_title("")
plt.legend(loc=1, title= "hp")
plt.ylabel("cylinders")
plt.xlabel("year")

ax = sns.barplot(data = df_cars,
            x='year',
            y='cubicinches',
            ax = axes[1,0])
ax.set_title("")
plt.ylabel("cubicinches")
plt.xlabel("year")

ax = sns.lineplot(data = df_cars,
            x='year',
            y='cubicinches',
            color='red',
            ax = axes[1,1]
            )
ax.margins(0,0.05)
ax.set_title("")
plt.ylabel("cubicinches")
plt.xlabel("year")

plt.show()

No artists with labels found to put in legend.  Note that artists whose label start with an underscore are ignored when legend() is called with no argument.
C:\Users\aurel\AppData\Local\Temp\ipykernel_99784\1273499237.py:41: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()