# W7 DOJO

# Dojo Pandas 2  (OVNIS)


importez le dataframe suivant :
http://bit.ly/uforeports

1) Quelle est la forme la plus représentée ?

2) Quelle est la ville où l’on a le plus de rapports de forme « FIREBALL » ?

3) Quel est le pourcentage de rapports où la couleur est présente ?
remplacez les valeurs de couleurs manquantes par « NONE »

4) Quelle est la décennie où l’on a recensé le plus de cas d’ovnis ?

5) Affichez le top 10 des villes où l’on voit le plus d’OVNIS en excluant New York

6) Afficher un dataframe de ces 10 villes avec les décennies, où les valeurs seront le nombre d'ovnis par combinaison

In [15]:
import pandas as pd
link = 'http://bit.ly/uforeports'
df_ovni = pd.read_csv(link)
df_ovni.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [16]:
### 1) Quelle est la forme la plus représentée?
df_ovni['Shape Reported'].value_counts().idxmax()

'LIGHT'

In [17]:
### 2) Quelle est la ville où l’on a le plus de rapports de forme « FIREBALL » ?
df_ovni['City'][df_ovni['Shape Reported']== 'FIREBALL'].value_counts().idxmax()

'Seattle'

In [18]:
### 3) Quel est le pourcentage de rapports où la couleur est présente ? remplacez les valeurs de couleurs manquantes par « NONE »
round((df_ovni.shape[0] - df_ovni['Colors Reported'].isna().sum()) / df_ovni.shape[0] * 100,2)

15.8

In [19]:
round((df_ovni['Colors Reported'].notna().sum()) / (df_ovni.shape[0]) * 100,2)

15.8

In [20]:
df_ovni['Colors Reported'].fillna('NONE', inplace=True)
df_ovni

C:\Users\aurel\AppData\Local\Temp\ipykernel_38112\1480236335.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ovni['Colors Reported'].fillna('NONE', inplace=True)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NONE,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NONE,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NONE,OVAL,CO,2/15/1931 14:00
3,Abilene,NONE,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NONE,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NONE,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NONE,DISK,IA,12/31/2000 23:00
18238,Eagle River,NONE,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NONE,OVAL,FL,12/31/2000 23:59

In [21]:
### 4) Quelle est la décennie où l’on a recensé le plus de cas d’ovnis ?
# exemple :
df_ovni['Time'][0].split('/')[2][:3]

'193'

In [22]:
df_ovni['decade'] = df_ovni['Time'].apply(lambda x : x.split('/')[2][:3])
df_ovni['decade'].value_counts().idxmax()

'199'

In [23]:
### 5) Affichez le top 10 des villes où l’on voit le plus d’OVNIS en excluant New York
#df_ovni['City'].fillna('NONE', inplace=True)
df_ovni['City'][~df_ovni['City'].str.contains('New York', na=False)].value_counts().head(10)

City
Seattle        187
Phoenix        137
Houston        108
Las Vegas      105
Portland       102
San Diego      101
Los Angeles     98
Chicago         73
Austin          62
Miami           60
Name: count, dtype: int64

In [24]:
### 6) Afficher un dataframe de ces 10 villes avec les décennies, où les valeurs seront le nombre d'ovnis par combinaison