# Dojo Python
Try to perform as many challenges as you can!

## Challenge 1

Print the sum of every number between 42 and 123 (inclusive)

In [1]:
x=0
for n in range(42,124):
    x+=n
print(x)

6765

## Challenge 2

Find the smallest integer $n$ such that $n^3 > 123456789$

In [2]:
x = 0
while x**3 < 123456789:
    x+=1

print(x)

498

## Challenge 3

A year is a leap year:
* if it's divisible by 4 (2020 was a leap year)
 * except if it's divisible by 100 (1900 *was not* a leap year)
   * except if it's divisible by 400 (2000 *was* a leap year)

Ask the user for a year, and display `Leap year!` or `Not a leap year!` depending on the input.

In [3]:
year = int(input())

if year%400 ==0 or (year%4 == 0 and year%100 !=0):
    print("Leap year!")

else:
    print("Not a leap year!")

Not a leap year!

## Challenge 4

Ask the user for a integer, then display a "square" of the given size. For instance, for a size of 10, you should get something like:
```
 ##########
 #........#
 #........#
 #........#
 #........#
 #........#
 #........#
 #........#
 #........#
 ##########
```

In [10]:
user_int = int(input())

for line in range(user_int):
    for colon in range(user_int):
        if (line == 0 or line == user_int-1) or colon == 0 or colon == user_int-1:
            print("#", end="")
        else:
            print(".",end="")
    print()

##########
#........#
#........#
#........#
#........#
#........#
#........#
#........#
#........#
##########

## Challenge 5

Print how many numbers between 1 and 1000 (inclusive) have an F in their English name.

In [14]:
count = 0

for n in range(1,1001):
    if "4" in str(n) or "5" in str(n) :
        count+=1
print(count)

488
ok