In [209]:
import sqlite3, sqlalchemy
from sqlalchemy import Table, Column, Integer, Float, String, MetaData, ForeignKey, create_engine, text, inspect
from IPython.display import Markdown, display
import warnings
warnings.filterwarnings('ignore')

## SQLAlchemy

Le premier objet important de ce module est l'engine. Il nous permet de nous connecter à une base de données et d'effectuer des requêtes SQL au format texte. La fonction create_engine crée une connexion avec une base de données. Si elle n'existe pas, la fonction va en créer une. L'argument est une chaîne de caractère qui a le format suivant : 'sqlite:///chemin_vers_la_base_de_donnees.db'

a) Créer une connexion à la base de données "toys_and_models.sqlite" que vous connaissez maintenant bien.

In [210]:
engine = create_engine('sqlite:///toys_and_models.sqlite', echo = True)

Une classe très pratique pour afficher des informations sur la base est l'Inspector, c'est un outil précieux pour comprendre à la fois le schéma des données ainsi que les contraintes qui s'opèrent entre elles.

b) Exécuter la cellule suivante afin d'instancier la classe Inspector dans une variable nommée inspector.

In [211]:
inspector = inspect(engine)

A l'aide de cet objet, on va pouvoir récupérer le nom des différentes tables qui constituent la base de données. La méthode get_table_names nous permet de le faire.

c) Exécuter la cellule suivante pour afficher les différentes tables présentes dans la base de données.

In [212]:
inspector.get_table_names()

2024-06-27 17:16:32,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-27 17:16:32,229 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-06-27 17:16:32,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-27 17:16:32,233 INFO sqlalchemy.engine.Engine ROLLBACK

['customers',
 'employees',
 'offices',
 'orderdetails',
 'orders',
 'payments',
 'productlines',
 'products']

La méthode get_columns de la classe Inspector permet d'afficher les caractéristiques des différents attributs d'une table passée en argument.

d) Afficher les attributs de la table customers à l'aide de la cellule suivante.

In [213]:
inspector.get_columns(table_name='customers')

2024-06-27 17:16:32,252 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-27 17:16:32,253 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("customers")
2024-06-27 17:16:32,255 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-27 17:16:32,258 INFO sqlalchemy.engine.Engine ROLLBACK

[{'name': 'customerNumber',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'primary_key': 1},
 {'name': 'customerName',
  'type': VARCHAR(length=50),
  'nullable': False,
  'default': None,
  'primary_key': 0},
 {'name': 'contactLastName',
  'type': VARCHAR(length=50),
  'nullable': False,
  'default': None,
  'primary_key': 0},
 {'name': 'contactFirstName',
  'type': VARCHAR(length=50),
  'nullable': False,
  'default': None,
  'primary_key': 0},
 {'name': 'phone',
  'type': VARCHAR(length=50),
  'nullable': False,
  'default': None,
  'primary_key': 0},
 {'name': 'addressLine1',
  'type': VARCHAR(length=50),
  'nullable': False,
  'default': None,
  'primary_key': 0},
 {'name': 'addressLine2',
  'type': VARCHAR(length=50),
  'nullable': True,
  'default': 'NULL',
  'primary_key': 0},
 {'name': 'city',
  'type': VARCHAR(length=50),
  'nullable': False,
  'default': None,
  'primary_key': 0},
 {'name': 'state',
  'type': VARCHAR(length=50),
  'nullable': True,
  'default': 'NULL',
  'primary_key': 0},
 {'name': 'postalCode',
  'type': VARCHAR(length=15),
  'nullable': True,
  'default': 'NULL',
  'primary_key': 0},
 {'name': 'country',
  'type': VARCHAR(length=50),
  'nullable': False,
  'default': None,
  'primary_key': 0},
 {'name': 'salesRepEmployeeNumber',
  'type': INTEGER(),
  'nullable': True,
  'default': 'NULL',
  'primary_key': 0},
 {'name': 'creditLimit',
  'type': DECIMAL(precision=10, scale=2),
  'nullable': True,
  'default': 'NULL',
  'primary_key': 0}]

Remarquez que l'objet retourné est une liste de N éléments. 

Chacun de ces éléments regroupent les informations d'un attribut de la table. 

On peut y trouver le nom de la table mais aussi un argument primary_key qui est fixé à 1 si l'attribut est une clé primaire.

La méthode get_foreign_keys de l'objet inspector permet d'afficher les clés étrangères associées à une table passée en argument.

e) afficher les clés étrangères de la table 'customers' à l'aide de la cellule suivante.

In [214]:
inspector.get_foreign_keys(table_name='customers')

2024-06-27 17:16:32,284 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-27 17:16:32,286 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("customers")
2024-06-27 17:16:32,287 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-27 17:16:32,289 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("customers")
2024-06-27 17:16:32,290 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-27 17:16:32,292 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-06-27 17:16:32,293 INFO sqlalchemy.engine.Engine [raw sql] ('customers',)
2024-06-27 17:16:32,296 INFO sqlalchemy.engine.Engine ROLLBACK

[]

Pour effectuer des requêtes SQL, on a besoin d'une connexion avec l'objet engine. Pour cela on utilise la méthode connect qui renvoie une instance de la classe Connection.

f) Instancier la classe Connection dans une variable nommée conn.

In [215]:
conn = engine.connect()

On peut désormais utiliser la méthode execute associée à une instance de la classe Connection créée précédemment.
Elle prend en argument une chaîne de caractères qui correspond à notre requête en langage SQL.

Pour obtenir le résultat de cette requête dans Python, on utilise la méthode fetchall associée à cet objet.

g) Afficher 10 lignes de la colonne customerName de la table customers.

Afin de s'assurer que notre requête soit bien interprétée par SQLAlchemy on utilisera la fonction text précédemment importée.

In [216]:
stmt= text("SELECT customerName FROM customers LIMIT 10")

result = conn.execute(stmt)

result.fetchall()

2024-06-27 17:16:32,324 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-27 17:16:32,325 INFO sqlalchemy.engine.Engine SELECT customerName FROM customers LIMIT 10
2024-06-27 17:16:32,326 INFO sqlalchemy.engine.Engine [generated in 0.00178s] ()

[('Atelier graphique',),
 ('Signal Gift Stores',),
 ('Australian Collectors, Co.',),
 ('La Rochelle Gifts',),
 ('Baane Mini Imports',),
 ('Mini Gifts Distributors Ltd.',),
 ('Havel & Zbyszek Co',),
 ('Blauer See Auto, Co.',),
 ('Mini Wheels Co.',),
 ('Land of Toys Inc.',)]

In [217]:
conn.execute(text("SELECT customerName FROM customers LIMIT 10")).fetchall()

2024-06-27 17:16:32,340 INFO sqlalchemy.engine.Engine SELECT customerName FROM customers LIMIT 10
2024-06-27 17:16:32,341 INFO sqlalchemy.engine.Engine [cached since 0.01607s ago] ()

[('Atelier graphique',),
 ('Signal Gift Stores',),
 ('Australian Collectors, Co.',),
 ('La Rochelle Gifts',),
 ('Baane Mini Imports',),
 ('Mini Gifts Distributors Ltd.',),
 ('Havel & Zbyszek Co',),
 ('Blauer See Auto, Co.',),
 ('Mini Wheels Co.',),
 ('Land of Toys Inc.',)]

h) Pour chaque commande de la table payments, le prix est identifié par amount.

Afficher le montant total des commandes par identifiant client customerNumber à l'aide de la méthode GROUP BY, on pourra les trier par ordre décroissant.

In [218]:
conn.execute(text("SELECT sum(amount) as total, customerNumber FROM payments group by customerNumber order by sum(amount) desc;")).fetchall()

2024-06-27 17:16:32,363 INFO sqlalchemy.engine.Engine SELECT sum(amount) as total, customerNumber FROM payments group by customerNumber order by sum(amount) desc;
2024-06-27 17:16:32,364 INFO sqlalchemy.engine.Engine [generated in 0.00161s] ()

[(483605.66, 141),
 (399345.61, 124),
 (180585.07, 114),
 (177913.94999999998, 151),
 (152734.99, 148),
 (148410.09, 187),
 (130305.35, 146),
 (127529.69, 278),
 (116949.68, 119),
 (116449.29, 363),
 (112440.09, 458),
 (108777.92, 298),
 (107639.94, 131),
 (107446.5, 145),
 (107185.70000000001, 276),
 (105420.57, 166),
 (104933.28, 398),
 (104545.22, 161),
 (104224.79, 121),
 (103896.73999999999, 334),
 (101872.52, 320),
 (98509.25, 157),
 (97562.47, 167),
 (95706.15, 311),
 (93803.3, 205),
 (91655.61, 282),
 (90545.37, 286),
 (90143.31, 386),
 (89909.79999999999, 227),
 (89223.14, 259),
 (87468.3, 385),
 (86553.52, 172),
 (85559.12, 321),
 (85060.0, 382),
 (84243.44, 496),
 (82223.23, 249),
 (80556.73, 324),
 (80375.24, 239),
 (80326.25, 353),
 (80180.98, 112),
 (79601.95, 323),
 (78432.16, 319),
 (77726.59, 486),
 (75937.76000000001, 128),
 (74246.12, 406),
 (73533.65000000001, 379),
 (72497.64, 181),
 (71943.56, 186),
 (71783.75, 240),
 (71547.53, 350),
 (70378.65, 455),
 (70122.19, 202),
 (69214.33, 424),
 (69059.04, 299),
 (68520.47, 216),
 (66923.85, 175),
 (66812.0, 260),
 (66710.56, 129),
 (66704.94, 412),
 (65541.74, 495),
 (62361.219999999994, 177),
 (62253.850000000006, 314),
 (61781.7, 171),
 (61167.18000000001, 201),
 (59551.38, 450),
 (58876.409999999996, 256),
 (58333.72, 462),
 (57939.34, 339),
 (56662.38, 357),
 (55577.26, 204),
 (50987.850000000006, 484),
 (49967.78, 447),
 (49898.270000000004, 189),
 (49731.100000000006, 250),
 (48809.9, 448),
 (48051.03999999999, 242),
 (46751.14, 344),
 (45480.79, 211),
 (44920.759999999995, 471),
 (43748.72, 475),
 (43680.65, 144),
 (42570.37, 487),
 (42252.87, 452),
 (41506.19, 347),
 (40701.57, 209),
 (39907.29, 233),
 (38281.509999999995, 328),
 (33757.85, 333),
 (33533.47, 362),
 (32198.690000000002, 173),
 (31310.09, 415),
 (29586.15, 489),
 (29230.43, 456),
 (29217.18, 381),
 (25358.32, 473),
 (22314.36, 103),
 (21554.260000000002, 198),
 (4465.85, 219)]

## Création de table

Nous allons voir comment alimenter la base college.db avec les parcours pédagogiques d'un établissement d'enseignement et les étudiants qui suivent des cours là-bas, mais en utilisant cette fois-ci la syntaxe SQLAlchemy.

L'objet créé par la fonction MetaData permet de regrouper plusieurs informations concernant une ou plusieurs bases de données, notamment des informations sur les tables qui la composent, on utilisera cet objet lors de leurs créations.

i) Créer une base de données college.db.

In [219]:
engine = create_engine('sqlite:///college.db', echo = True)

j) Instancier un objet de la classe MetaData nommé meta.

In [220]:
meta = MetaData()

Pour créer une table on fait appel à la classe Table. 

Cette fonction est liée à l'objet engine. Les deux premiers arguments sont le nom de la table, ainsi que l'objet meta que l'on a créé précédemment. 

Les arguments restants sont des objets de type Column représentant chacun un attribut de la table. Le constructeur de cet objet prend en arguments un nom, le type de l'attribut (String, Integer, ...) et s'il s'agit d'une clé primaire ou pas (primary_key=True).

Il est possible que des erreurs surviennent dans ce module puisque vous allez créer, modifier et supprimer des éléments d'une base de données, reset le kernel ne suffira pas à réinitialiser la base. Si un problème survient, le plus simple est de supprimer les tables que vous avez créées et qui posent problème avec la commande:

sql = text('DROP TABLE IF EXISTS parcours;') 
result = engine.execute(sql)

et de vous réferer ensuite aux cellules de correction. Cette manipulation sera détaillée davantage dans la dernière section de ce cours.

k) Créer une table parcours qui permettra d'identifier la filière de l'étudiant au sein de l'établissement. Cette table aura comme attributs l'identifiant id du parcours qui sera une clé primaire et son nom name.

l) Utiliser la méthode create_all associée à l'objet meta pour sauvegarder les changements sur la base de données (l'argument pris par cette fonction est un objet engine).

In [221]:
parcours = Table(
    'parcours', meta, 
    Column('id', Integer, primary_key = True), 
    Column('name', String)
)

meta.create_all(engine)

2024-06-27 17:16:32,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-27 17:16:32,410 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("parcours")
2024-06-27 17:16:32,413 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-27 17:16:32,414 INFO sqlalchemy.engine.Engine COMMIT

Grâce au echo=True, on peut voir le code utilisé pour créer la table:

CREATE TABLE parcours (

    id INTEGER NOT NULL,

    name VARCHAR,

    PRIMARY KEY (id)

)

Qui n'est rien d'autre que la requête que vous aviez utilisée dans le précédent notebook pour créer la table parcours.

En SQL on choisit le nom de la table après le CREATE TABLE. Ensuite, entre parenthèses, on précise le nom des colonnes ainsi que leur type et des contraintes si jamais on veut en ajouter. Enfin on précise quelles sont les clés primaires.

m) créer une table students ayant comme attributs un identifiant id qui en sera la clé primaire, un prénom firstname au format String, un nom lastname au format String, ainsi que l'identifiant parcours_id du parcours suivi qui est une clé étrangère.

On pourra préciser une clé étrangère en utilisant la syntaxe suivante :

Column('colonne_name', type, ForeignKey("table_name.colonne_name"))

In [222]:
students = Table(
    'students', meta, 
    Column('id', Integer, primary_key = True), 
    Column('firstname', String),
    Column('lastname', String),
    Column('parcours_id', Integer, ForeignKey('parcours.id'))
)

meta.create_all(engine)

2024-06-27 17:16:32,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-27 17:16:32,432 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("parcours")
2024-06-27 17:16:32,434 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-27 17:16:32,436 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2024-06-27 17:16:32,438 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-27 17:16:32,440 INFO sqlalchemy.engine.Engine COMMIT

## Modifications de table

Lorsque l'on modifie ou effectue une ou plusieurs opération(s) importante(s) sur une table, il est nécessaire de se prévenir de toute erreur de manipulation. Pour créer une transaction il faut connecter la machine à l'aide de la méthode connect de l'engine.

Une transaction a un début et une fin. Le début de la transaction est indiqué par la fonction begin associée à l'objet précédemment créé par la méthode connect.

Via cet objet, on pourra appeler la fonction rollback dans le cas où une opération de la transaction n'a pas été autorisée : on revient à l'état initial de la table.

La fonction commit permet elle de valider la transaction le cas échéant. En Python, cela nous donne la structure suivante:

In [223]:
'''# on crée la connection    
with engine.connect() as connection:
# début de la transaction
    with connection.begin() as transaction:
# on tente d'exécuter une transaction
        try:
            connection.execute(instruction)
# si la transaction échoue
        except:
            transaction.rollback()
            raise
# si la transaction réussit
        else:
            transaction.commit()'''

"# on crée la connection    \nwith engine.connect() as connection:\n# début de la transaction\n    with connection.begin() as transaction:\n# on tente d'exécuter une transaction\n        try:\n            connection.execute(instruction)\n# si la transaction échoue\n        except:\n            transaction.rollback()\n            raise\n# si la transaction réussit\n        else:\n            transaction.commit()"

L'argument instruction correspond à l'opération qui sera effectuée au sein de la transaction.

Lorsqu'on effectue une requête, qui est la forme de transaction la plus simple, ce fonctionnement est fait implicitement.

Insertion de lignes

Dans une table, on peut insérer ou supprimer des lignes. Ces opérations sont considérées comme des transactions et sont donc soumises aux règles qui assurent la cohérence de la base de données.

Pour insérer des tuples, on doit d'abord créer une liste qui contient des tuples. Ces tuples doivent représenter les valeurs des différents attributs de la table : la liste a donc la longueur du nombre de lignes qu'on veut insérer et chaque tuple a le même nombre d'entrées que la table.

n) Créer une liste values1 contenant les informations des 2 parcours de la table parcours, on les identifiera par (1, "Data Engineering")et (2, "Data Science").

Créer une liste values2 contenant les informations de 2 étudiants de la table students, on choisira les noms et prénoms que l'on souhaite. Attention cependant à bien respecter les contraintes liées à l'unicité de la clé primaire et à l'existence de la clé étrangère.

In [224]:
values1 = [
    (1, "Data Engineering"),
    (2, "Data Science")
    ]
values2 = [
    (1, "Jean", "Dubois", 1),
    (2, "Martin", "Dupont", 2),
    ]

La syntaxe SQL pour ajouter un tuple dans une table est la suivante :

INSERT INTO nom_table
VALUES tuple;

Cette commande est en langage SQL, et sera donc au format texte sous python si on souhaite l'exécuter.

On note 'INSERT INTO {tablename} VALUES ({markers})' où tablename sera le nom de la table et markers sera une variable explicitant le format des tuples que l'on injectera dans la table.

Une fois le tablename et le markers définis, on peut mettre à jour notre requête SQL en modifiant son format à l'aide de la méthode format de Python (https://docs.python.org/fr/3/tutorial/inputoutput.html#the-string-format-method ) permettant des substitutions de valeurs et des mises en forme à l'intérieur de chaînes de caractères.

Cela permet que tablename et markers ne soient pas considérées comme une chaîne de caractères mais bien un argument.
  Pour définir correctement un markers, on peut utiliser la fonction suivante ','.join( '?' * len(values[0])) qui permet de définir un format correspondant à un tuple de la bonne longueur.
  
o) Exécuter la cellule suivante pour insérer dans la table parcours les valeurs précédemment définies dans la liste values1.

In [225]:
# on crée la connection
with engine.connect() as connection:
    # début de la transaction
    with connection.begin() as transaction:
        # on tente d'exécuter une transaction
        try:
            # On indique le format d'un tuple de cette table
            markers = ','.join('?' * len(values1[0]))
            
            # On utilise le langage SQL en format texte où markers est le format d'un tuple
            ins = 'INSERT INTO {tablename} VALUES ({markers})'
            
            # On précise ce format particulier grâce à la fonction membre format
            ins = ins.format(tablename=parcours.name, markers=markers)
           
            # Enfin on peut utiliser les tuples créés en exécutant la commande SQL
            connection.execute(ins, values1)
        # si la transaction échoue
        except:
            transaction.rollback()
            raise
        # si la transaction réussit
        else:
            transaction.commit()

2024-06-27 17:16:32,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-27 17:16:32,479 INFO sqlalchemy.engine.Engine ROLLBACK

ObjectNotExecutableError: Not an executable object: 'INSERT INTO parcours VALUES (?,?)'

In [ ]:
# on crée la connexion
with engine.connect() as connection:
    # début de la transaction
    with connection.begin() as transaction:
        try:
            # On indique le format d'un tuple de cette table
            markers = ','.join('?' * len(values1[0]))
            
            # On utilise le langage SQL en format texte où markers est le format d'un tuple
            ins = 'INSERT INTO {tablename} VALUES ({markers})'
            
            # On précise ce format particulier grâce à la fonction membre format
            ins = text(ins.format(tablename=parcours.name, markers=markers))
           
            # Enfin on peut utiliser les tuples créés en exécutant la commande SQL
            connection.execute(ins, values1)
        except Exception as e:
            transaction.rollback()
            print(f"Une erreur est survenue : {e}")
            raise
        else:
            transaction.commit()

2024-06-27 17:15:02,160 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-27 17:15:02,162 INFO sqlalchemy.engine.Engine ROLLBACK
Une erreur est survenue : '<' not supported between instances of 'str' and 'int'

TypeError: '<' not supported between instances of 'str' and 'int'

Si vous exécutez 2 fois le code précédent, une erreur apparaîtra car les tuples sont déjà présents dans la base. La contrainte d'unicité de la clé primaire n'est alors plus respectée.

p) En utilisant une transaction SQLAlchemy, insérer dans la table students les valeurs précédemment définies dans la liste values2.

In [ ]:
with engine.connect() as connection:
    with connection.begin() as transaction:
        try:
            markers = ','.join('?' * len(values2[0]))
            ins = 'INSERT INTO {tablename} VALUES ({markers})'
            ins = ins.format(tablename=students.name, markers=markers)
            connection.execute(ins, values2)
        except:
            transaction.rollback()
            raise
        else:
            transaction.commit()

q) Vous pouvez lancer la cellule suivante pour voir les éléments contenus dans les bases.

In [ ]:
# Exécuter cette cellule
with engine.connect() as connection:
    results = connection.execute("SELECT * FROM students")
    print(results.fetchall())
with engine.connect() as connection:
    results = connection.execute("SELECT * FROM parcours")
    print(results.fetchall())

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM students'

## Suppression de table


Si l'on souhaite supprimer des lignes, il faut faire attention à la cohérence de la base de données. Dans notre exemple, on ne peut pas supprimer uniquement le tuple d'un des deux parcours de la table parcours. En effet, dans la table students un des attributs fait référence à la clé primaire d'un parcours. Cet attribut n'aurait donc plus de sens, et les transactions ACID nous permettent d'interdire ce genre de transaction.

  Si un parcours est retiré du programme de l'université et doit être retiré de la base, il faut aussi supprimer les lignes des étudiants associés (ici les étudiants suivent 1 seul cursus et sont donc malheureusement mis à la porte...) dans la table students. Pour supprimer ou modifier une ligne en particulier, il faut utiliser vos connaissances en langage SQL, notamment en ce qui concerne la recherche de tuple vérifiant une condition
On va procéder plus simplement ici et supprimer la table students.

r) Supprimer la table students de la base de donnée à l'aide des connaissances acquises jusqu'ici en SQL et SQLAlchemy. Puis vérifier qu'elle est bien supprimée en essayant d'y insérer un tuple.